
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="users">@Html.Partial("_Users")</div>
    <div role="tabpanel" class="tab-pane" id="MyCalendar">@Html.Partial("_MyCalendar")</div>
    <div role="tabpanel" class="tab-pane" id="groupmanagement">@Html.Partial("_GroupManagement")</div>
    <div role="tabpanel" class="tab-pane" id="settings">@Html.Partial("_Settings")</div>
</div>